body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #6b4f4f;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.banner {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.saches-list {
    text-align: center;
    margin-top: 20px;
}

.saches-list h2 {
    margin-bottom: 10px;
}

.saches-centralized {
    list-style: none;
    padding: 0;
}

.saches-centralized > li {
    margin-bottom: 20px;
    text-align: left;
}

.saches-centralized strong {
    font-size: 1.2em;
}

.saches-centralized ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.saches-centralized ul li {
    margin-left: 20px;
}

.content {
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

} 


.illustrative-image {
    max-width: 200px;
    margin-right: 20px;
}

.text {
    max-width: 500px;
}

.text h2 {
    color: #6b4f4f;
}

.text p {
    color: #333;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}


th {
    background-color: #6b4f4f;
    color: white;
}

img {

}

  td a {
            color: #333;
            text-decoration: none;
            
        }

         td a:visited {
            color: #662222;
        }

        td a:hover {
            color: #0066cc;
        }

 